.installation-guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  padding: 1rem 3rem;
  overflow-y: auto;

  h2 {
    width: 60%;
  }

  li {
    margin-bottom: 0.5rem;
  }
}
