.messenger-page-container {
  max-height: calc(100vh - var(--navbar-height));
  overflow: hidden;

  display: flex;
  position: relative;

  .messages-container {
    overflow-y: scroll;
    width: 100%;

    display: flex;
    flex-direction: column;

    .messages-history-container {
      margin-top: 2rem;
      padding: 0 2rem;
    }
  }

  .messages-input-container {
    position: sticky;
    width: inherit;
    bottom: 0;

    padding: 2rem;

    display: flex;
    flex-direction: row;

    input {
      padding: 1rem;

      width: inherit;
      margin-top: 0.3rem;
      font-size: var(--font-size-m);

      border-radius: var(--border-round-s);
      border: none;
      background-color: var(--color-light);

      &:disabled {
        color: hsl(from var(--color-background-secondary) h s calc(l + 15));
      }
    }
  }

  .room-nav-sidebar {
    height: 100%;
  }
}
