.messenger-page-container {
  max-height: calc(100vh - var(--navbar-height));
  overflow: hidden;

  display: flex;
  justify-content: center;
  position: relative;

  .messages-container {
    overflow-y: scroll;
    width: 100%;
    /* max-width: 800px; */

    display: flex;
    flex-direction: column;

    .messages-history-container {
      margin-top: 2rem;

      padding: 0 2rem;
    }
  }

  .messages-input-container {
    position: sticky;
    width: inherit;
    bottom: 0;

    padding: 2rem;

    display: flex;
    flex-direction: row;

    --z-messenger-input: 600;
    --z-messenger-button: 500;

    input {
      padding: 1.5rem 3rem;
      z-index: var(--z-messenger-input);

      width: inherit;
      margin-top: 0.3rem;
      font-size: var(--font-size-m);

      border-radius: 50px;
      border: none;
      background-color: var(--color-messenger-card-right);
      color: hsl(from var(--color-background-secondary) h s calc(l + 45));

      &:disabled {
        color: hsl(from var(--color-background-secondary) h s calc(l + 15));
      }

      &:focus-visible {
        outline: none;
      }
    }

    button {
      z-index: var(--z-messenger-button);
      height: 100%;
      aspect-ratio: 1;
      border-radius: 50px;

      color: var(--color-text);
      background-color: var(--color-background);
      border: 2px solid var(--color-messenger-card-right);
    }
  }

  .room-nav-sidebar {
    height: 100%;
  }
}
