.RoomList {
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2px;

  & .list-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 0.5rem;
    padding: 0 1rem;

    position: sticky;
    top: var(--navbar-height);

    width: 100%;
    height: 3rem;
    border-top-left-radius: var(--border-round-l);
    border-top-right-radius: var(--border-round-l);
    border-top: 2px solid var(--color-background);
    margin-top: 1rem;
    background-color: var(--color-background-secondary);
    color: var(--color-light);

    th {
      text-align: center;
      flex: 2 0 10%;
    }

    th.show {
      flex: 8;
    }

    th.participants {
      flex: 1;
    }

    th.dummy {
      flex: 1 0 1rem;
    }
  }

  tbody {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2px;
  }
}
