.extension-image-container {
  position: fixed;
  top: 80%;
  right: 0;

  background: none;
  border: none;

  --width: 4rem;
  width: var(--width);
  aspect-ratio: 1;
  border-radius: 50%;

  z-index: var(--z-navbar);
  transition: all 0.1s ease-in-out;

  img {
    transform: translateX(2px);
    transition: inherit;
  }

  .background {
    position: absolute;
    top: calc(var(--width) / 2 - 1vh);
    left: calc(var(--width) / 2 - 0.5vw);

    width: 1px;
    aspect-ratio: 1;

    border-radius: 100%;
    background-color: var(--color-highlight);
    transition: inherit;
  }

  &:hover {
    img {
      filter: invert(2);
    }

    .background {
      transform: scale(40);
    }
  }
}
