.message {
  position: absolute;
  bottom: 0;
  width: 100vw;
  height: 50px;
  color: var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

.good {
  background-color: var(--color-success);
}

.bad {
  background-color: var(--color-attention);
}
