.navbar-container {
  display: none;
}

.navbar-container.visible {
  display: block;
  z-index: var(--z-navbar);
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-height);

  background-color: bisque;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 1rem;

  .image-container {
    & img {
      height: var(--navbar-height);
    }
  }

  .option-container.mobile {
    display: none;
    list-style: none;

    &.isActive {
      display: block;
      position: absolute;
      background-color: var(--option-background-color);
      top: var(--navbar-height);
      left: 0;
      width: 100%;
    }

    & li {
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background-color: hsl(
          from var(--option-background-color) h s calc(l + 3)
        );
      }

      & a {
        display: block;
        width: 100%;
        text-decoration: none;
        color: var(--font-color);
      }
    }
  }
}
