.navbar-container {
  display: none;
}

/* FIXME transition animation */
.navbar-container.visible {
  display: block;
  z-index: var(--z-navbar);
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--navbar-height);

  background-color: var(--color-background-secondary);
  color: var(--color-light);

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;

  padding: 0 1rem;

  .image-container {
    flex: 1 0 0;
    & img {
      height: var(--navbar-height);
    }
  }

  & a {
    flex: 2 3 0;
    display: block;
    width: 100%;
    text-align: center;

    text-decoration: none;
    color: var(--color-light);

    height: 100%;
    text-align: center;
    line-height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    &.main {
      border-bottom: 4px solid var(--color-background-secondary);
      transition: all 0.1s ease-in-out;

      &:hover {
        border-bottom: 4px solid var(--color-light);
      }

      &.active {
        border-bottom: 4px solid var(--color-highlight);
      }
    }

    /* no gap between Movies and Rooms */
    &.main.movies {
      margin-right: calc(-1rem + 1px);
    }
  }

  .option-container.mobile {
    display: none;
    list-style: none;
    z-index: inherit;

    &.isActive {
      display: block;
      position: absolute;
      background-color: var(--color-background-secondary);
      top: var(--navbar-height);
      left: 0;
      width: 100%;
    }

    & li {
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background-color: hsl(
          from var(--color-background-secondary) h s calc(l + 3)
        );
      }
    }
  }
}
