.select-container {
  position: relative;
  flex: 1 0 0;
  z-index: inherit;
  --img-width: 2.5rem;

  & .profile-button {
    border: none;
    background: none;

    display: flex;

    & > img {
      width: var(--img-width);
      aspect-ratio: 1;
    }
  }

  & .options-container {
    /* BUG this element stays above navbar isntead of below */
    z-index: 900;
    position: absolute;

    top: 3.5rem;
    left: calc(-10rem + var(--img-width));
    transform: translateY(-150px);
    transition: all 0.2s ease-in-out;

    list-style: none;
    width: 10rem;
    background-color: var(--color-background-secondary);
    border-radius: var(--border-round-m);

    display: flex;
    flex-direction: column;

    & li {
      padding: 0.5rem 1rem;
      cursor: pointer;

      &:hover {
        background-color: hsl(
          from var(--color-background-secondary) h s calc(l + 3)
        );
        border-radius: var(--border-round-m);
      }

      & a {
        text-decoration: none;
        color: var(--color-light);
      }
    }

    .triangle {
      z-index: 0;
      position: absolute;
      top: -9px;
      right: 11px;

      /* Triangle */
      width: 0;
      height: 0;
      border-left: 0.5rem solid transparent;
      border-right: 0.5rem solid transparent;
      border-bottom: 0.6rem solid var(--color-background-secondary);
    }
  }

  & .options-container.visible {
    transform: translateY(0);
  }
}
