.RoomCard {
  display: flex;
  flex-direction: column;

  border-radius: var(--border-round-s);
  padding: 0.5rem 1rem;
  background-color: var(--color-background-tertiary);

  .details {
    width: 100%;
    height: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    p {
      flex: 2 0 10%;
      text-align: center;
    }

    p.show {
      flex: 8;
      text-align: center;
    }

    p.participants-number {
      flex: 2;
    }
  }

  .participants {
    border-top: 1px solid var(--color-background-secondary);
    margin-top: 10px;
    list-style: none;
  }

  button {
    background-color: var(--color-background-secondary);
    color: var(--color-light);
    box-shadow: var(--shadow-s);

    border: none;
    height: 95%;
    aspect-ratio: 1;
    border-radius: 50%;

    transition: all 0.1s ease-in-out;

    &:hover {
      background-color: var(--color-background-secondary-off);
      transform: scale(1.05);
    }
  }
}
